* {
  padding: 0;
  margin: 0;
}
.p3_slider {
  max-width: calc(100% - 20%);
  margin: auto;
}
.p3_slider2 {
  width: 100%;
  height: 558px;
}
.p3_slider2 img {
  width: 100%;
  height: 100%;
}
@media (max-width: 840px) {
  .p3_slider {
    max-width: 80%;
  }
  .p3_slider2 {
    height: 400px;
  }
  .slick-prev:before {
    position: relative;
    bottom: 30px;
  }
  .slick-next:before {
    position: relative;
    bottom: 30px;
  }
}
@media (max-width: 700px) {
  .p3_slider2 {
    height: 350px;
  }
}
@media (max-width: 600px) {
  .p3_slider2 {
    height: 300px;
  }
}
